@{
    Layout = null;
}
<br />
<br />
<h2>Email Submited</h2>

<br />
<p><a>Email sent to : @User.Identity.Name</a></p>
<br />
<p>Check for email box for SSRA Confirmation of Enrollment. In order to complete enrollment, please sign date a copy, and 2) Mail a the signed version to the SSRA Administrator.</p>
<p>Check contacts page for mailing address.</p>
<br />
<p>Review contents and contact SSRA Register if needed.</p>
<br />
<hr />
@*<table width="100%" align="center">
    <tr>
        <td align="center">
            @Html.ActionLink("Return to My Enrollments", "Index")
        </td>
    </tr>
</table>*@
