@model goSSRA.Registration.Models.AccountModels.LogOnModel
@{
    ViewBag.Title = "Reset Logon Password";
}
<br />
<br />
<div style="text-align: center">
    <h2>Reset Logon Password</h2>
</div>
@using (Html.BeginForm("ResetLogonPassword", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>Reset Logon Password</legend>
        <p>Please enter your email associated with your logon account </p>
        <div class="form-actions no-color">
            <input type="submit" value="Account email" class="btn" />
            @Html.TextBox("email", ViewBag.email as string)
        </div>
    </fieldset>
}