@{
    Layout = null;
}
<br />
<br />
<h2>Email Submited</h2>

<br />
<p><a>Email sent to account on record.</a></p>
<br />
<p>Check for email from SSRA on Password Reset Subject. After reviewing email, Continue the Log on Process and update your password.</p>
<br />
<br />
<div>
    @Html.ActionLink("Continue Log On Process", "ChangePassword", "Account")
</div>