<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:10.0pt;
	margin-left:0in;
	line-height:115%;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";}
.MsoPapDefault
	{margin-bottom:10.0pt;
	line-height:115%;}
@page WordSection1
	{size:8.5in 11.0in;
	margin:1.0in 1.0in 1.0in 1.0in;}
div.WordSection1
	{page:WordSection1;}
-->
</style>

</head>

<body lang=EN-US>

<div class=WordSection1>

<p class=MsoNormal>Concussion Information Sheet</p>

<p class=MsoNormal>Adapted from the CDC and the 3rd International Conference on
Concussion in Sport </p>

<p class=MsoNormal>Document created 6/15/2009 </p>

<p class=MsoNormal>A concussion is a brain injury and all brain injuries are
serious. They are caused by a </p>

<p class=MsoNormal>bump, blow, or jolt to the head, or by a blow to another
part of the body with the force </p>

<p class=MsoNormal>transmitted to the head. They can range from mild to severe
and can disrupt the way </p>

<p class=MsoNormal>the brain normally works. Even though most concussions are
mild, all concussions are </p>

<p class=MsoNormal>potentially serious and may result in complications
including prolonged brain </p>

<p class=MsoNormal>damage and death if not recognized and managed properly. In
other words, even a </p>

<p class=MsoNormal>“ding” or a bump on the head can be serious. You can’t see a
concussion and most </p>

<p class=MsoNormal>sports concussions occur without loss of consciousness.
Signs and symptoms of </p>

<p class=MsoNormal>concussion may show up right after the injury or can take
hours or days to fully appear. </p>

<p class=MsoNormal>If your child reports any symptoms of concussion, or if you
notice the symptoms or signs </p>

<p class=MsoNormal>of concussion yourself, seek medical attention right away. </p>

<p class=MsoNormal>Symptoms may include one or more of the following: </p>

<p class=MsoNormal>• Headaches </p>

<p class=MsoNormal>• “Pressure in head” </p>

<p class=MsoNormal>• Nausea or vomiting </p>

<p class=MsoNormal>• Neck pain </p>

<p class=MsoNormal>• Balance problems or dizziness </p>

<p class=MsoNormal>• Blurred, double, or fuzzy vision </p>

<p class=MsoNormal>• Sensitivity to light or noise </p>

<p class=MsoNormal>• Feeling sluggish or slowed down </p>

<p class=MsoNormal>• Feeling foggy or groggy </p>

<p class=MsoNormal>• Drowsiness </p>

<p class=MsoNormal>• Change in sleep patterns </p>

<p class=MsoNormal>• Amnesia </p>

<p class=MsoNormal>• “Don’t feel right” </p>

<p class=MsoNormal>• Fatigue or low energy </p>

<p class=MsoNormal>• Sadness </p>

<p class=MsoNormal>• Nervousness or anxiety </p>

<p class=MsoNormal>• Irritability </p>

<p class=MsoNormal>• More emotional </p>

<p class=MsoNormal>• Confusion </p>

<p class=MsoNormal>• Concentration or memory problems </p>

<p class=MsoNormal>(forgetting game plays) </p>

<p class=MsoNormal>• Repeating the same </p>

<p class=MsoNormal>question/comment </p>

<p class=MsoNormal>Signs observed by teammates, parents and coaches include: </p>

<p class=MsoNormal>• Appears dazed </p>

<p class=MsoNormal>• Vacant facial expression </p>

<p class=MsoNormal>• Confused about assignment </p>

<p class=MsoNormal>• Forgets plays </p>

<p class=MsoNormal>• Is unsure of game, score, or opponent </p>

<p class=MsoNormal>• Moves clumsily or displays incoordination </p>

<p class=MsoNormal>• Answers questions slowly </p>

<p class=MsoNormal>• Slurred speech </p>

<p class=MsoNormal>• Shows behavior or personality changes </p>

<p class=MsoNormal>• Can’t recall events prior to hit </p>

<p class=MsoNormal>• Can’t recall events after hit </p>

<p class=MsoNormal>• Seizures or convulsions </p>

<p class=MsoNormal>• Any change in typical behavior or personality </p>

<p class=MsoNormal>• Loses consciousness Concussion Information Sheet</p>

<p class=MsoNormal>Adapted from the CDC and the 3rd International Conference on
Concussion in Sport </p>

<p class=MsoNormal>Document created 6/15/2009 </p>

<p class=MsoNormal>What can happen if my child keeps on playing with a
concussion or returns to </p>

<p class=MsoNormal>soon?</p>

<p class=MsoNormal>Athletes with the signs and symptoms of concussion should be
removed from play </p>

<p class=MsoNormal>immediately. Continuing to play with the signs and symptoms
of a concussion leaves </p>

<p class=MsoNormal>the young athlete especially vulnerable to greater injury.
There is an increased risk of </p>

<p class=MsoNormal>significant damage from a concussion for a period of time
after that concussion occurs, </p>

<p class=MsoNormal>particularly if the athlete suffers another concussion
before completely recovering from </p>

<p class=MsoNormal>the first one. This can lead to prolonged recovery, or even
to severe brain swelling </p>

<p class=MsoNormal>(second impact syndrome) with devastating and even fatal
consequences. It is well </p>

<p class=MsoNormal>known that adolescent or teenage athlete will often under
report symptoms of injuries. </p>

<p class=MsoNormal>And concussions are no different. As a result, education of
administrators, coaches, </p>

<p class=MsoNormal>parents and students is the key for student-athlete’s
safety. </p>

<p class=MsoNormal>If you think your child has suffered a concussion</p>

<p class=MsoNormal>Any athlete even suspected of suffering a concussion should
be removed from the </p>

<p class=MsoNormal>game or practice immediately. No athlete may return to
activity after an apparent head </p>

<p class=MsoNormal>injury or concussion, regardless of how mild it seems or how
quickly symptoms clear, </p>

<p class=MsoNormal>without medical clearance. Close observation of the athlete
should continue for several </p>

<p class=MsoNormal>hours. The new “Zackery Lystedt Law” in Washington now
requires the consistent and </p>

<p class=MsoNormal>uniform implementation of long and well-established return
to play concussion </p>

<p class=MsoNormal>guidelines that have been recommended for several years: </p>

<p class=MsoNormal>“a youth athlete who is suspected of sustaining a concussion
or head injury in a </p>

<p class=MsoNormal>practice or game shall be removed from competition at that
time” </p>

<p class=MsoNormal>and </p>

<p class=MsoNormal>“…may not return to play until the athlete is evaluated by a
licensed heath care </p>

<p class=MsoNormal>provider trained in the evaluation and management of
concussion and received </p>

<p class=MsoNormal>written clearance to return to play from that health care
provider”. </p>

<p class=MsoNormal>You should also inform your child’s coach if you think that
your child may have a </p>

<p class=MsoNormal>concussion Remember its better to miss one game than miss
the whole season. And </p>

<p class=MsoNormal>when in doubt, the athlete sits out. </p>

<p class=MsoNormal>For current and up-to-date information on concussions you
can go to: </p>

<p class=MsoNormal>http://www.cdc.gov/ConcussionInYouthSports/</p>

</div>

</body>

</html>
