@{
    ViewBag.Title = "";  
}
<style>
    /* suppress link for printing */
    @@media only print {
        a {
            display: none;
        }
    }
</style>
<a href="#" onclick="window.print(); return false;">Print</a>
<br />
<br />
<br />
<ul>
    <li>
        <p>--- Medical Release ---</p>
        <br />
        <div class="WordSection1">

            <p class="MsoNormal" align="center" style="margin-right:-.5in;text-align:center">
                <b>
                    <u>
                        <span style="font-size:14.0pt;font-family:"Arial","sans-serif"">
                            MEDICAL  RELEASE
                            &amp; INFORMATION
                        </span>
                    </u>
                </b>
            </p>

            <p class="MsoNormal" style="margin-right:-.5in">
                <span style="font-family:"Arial","sans-serif"">
                    I, the parent/guardian, give the directors and coaches of the Spokane Ski Racing
                    Association permission to obtain medical aid (competitor) in case of injury. I
                    understand that every effort will be made to contact me in case of injury/ if
                    medical attention becomes necessary.
                </span>
            </p>
</li>
</ul>
<a href="#" onclick="window.print(); return false;">Print</a>