@{
    ViewBag.Title = "";  
}
<style>
    /* suppress link for printing */
    @@media only print {
        a {
            display: none;
        }
    }
</style>
<a href="#" onclick="window.print(); return false;">Print</a>

<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">


<style>
    <!--
     /* Font Definitions */
     font-face
        {font-family:"Cambria Math";
        panose-1:2 4 5 3 5 4 6 3 2 4;}
     /* Style Definitions */
     p.MsoNormal, li.MsoNormal, div.MsoNormal
        {margin:0in;
        margin-bottom:.0001pt;
        font-size:12.0pt;
        font-family:"Times New Roman","serif";}
    p
        {margin-right:0in;
        margin-left:0in;
        font-size:12.0pt;
        font-family:"Times New Roman","serif";}
    span.apple-converted-space
        {mso-style-name:apple-converted-space;}
    p.style1, li.style1, div.style1
        {mso-style-name:style1;
        margin-right:0in;
        margin-left:0in;
        font-size:12.0pt;
        font-family:"Times New Roman","serif";}
    page WordSection1
        {size:8.5in 11.0in;
        margin:1.0in 1.25in 1.0in 1.25in;}
    div.WordSection1
        {page:WordSection1;}
    -->
</style>


<br />
<br />
<br />
<ul>
    <li>
        <p>--- SSRA Code of Conduct ---</p>
        <br />


        <div class="WordSection1">

            <p>
                <em>
                    <b>
                        <span style="font-size:18.0pt;font-family:"Arial","sans-serif";
color:blue">SSRA TEAM CODE OF CONDUCT</span>
                    </b>
                </em>
            </p>

            <p>
                <strong>
                    <span style="font-size:13.5pt;font-family:"Arial","sans-serif";
color:black">
                        SSRA Athletes conduct reflects a general respect for self, team,
                        family, mountain, and their sport. SSRA athletes play by the rules and hold
                        themselves to a high moral standard.
                    </span>
                </strong>
            </p>

            <p>
                <strong>
                    <span style="font-size:13.5pt;font-family:"Arial","sans-serif";
color:black">Each SSRA athlete agrees to:</span>
                </strong>
            </p>

            <p>
                <span style="font-size:13.5pt;color:black">*</span><span style="font-size:
13.5pt;font-family:"Arial","sans-serif";color:black">
                    Adhere to the Rider Responsibility
                    Code and the rules of SSRA, Mt. Spokane, and each governing body of ski racing
                    (FIS, USSA, WR, PNSA and EEYSL)
                </span>
            </p>

            <p>
                <span style="font-size:13.5pt;font-family:"Arial","sans-serif";color:black">
                    *Act
                    as an ambassador of the sport. Athletes should understand their reponsibility
                    to represent SSRA, Mt. Spokane and ski racing in an admirable way, on and off
                    of the hill; at home and away.
                </span>
            </p>

            <p>
                <span style="font-size:13.5pt;font-family:"Arial","sans-serif";color:black">
                    *Assume
                    personal responsibility and self-accountability.
                </span>
            </p>

            <p>
                <span style="font-size:13.5pt;font-family:"Arial","sans-serif";color:black">
                    *Respect
                    and support the decisions of the coaching staff, officials, ski area personnel,
                    and ski patrol.
                </span>
            </p>

            <p>
                <span style="font-size:13.5pt;font-family:"Arial","sans-serif";color:black">
                    *Embrace
                    the fact that being a part of the SSRA team is a privilege, and not a right. It
                    is something that can be revoked at any time if the rules and accepted behavior
                    for maintaining team participation are not followed. Furthermore, some conduct
                    and violations of SSRA conduct code/policies will result in disciplinary
                    action. These sanctions will be implemented by the SSRA Program Director and
                    include temporary suspension or expulsion without refund of team/program
                    tuition.
                </span>
            </p>

            <p>
                <strong>
                    <span style="font-size:13.5pt;font-family:"Arial","sans-serif";
color:red">General rules and team guidelines</span>
                </strong>
            </p>

            <p style="margin-bottom:0in;margin-bottom:.0001pt">
                <em>
                    <span style="font-size:
13.5pt;font-family:"Arial","sans-serif";color:black">Members of SSRA will:</span>
                </em>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Not use illegal drugs, alcohol
                    or tobacco
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Not use profane language or
                    derogatory language
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Respect others and avoid hurting
                    others physically or emotionally. This includes, but is not limited to,
                    respecting teammates' desires to focus, learn, maintain a positive attitude,
                    and get adequate sleep (when on the road).
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">*Respect the belongings of others</span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">*Be honest</span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Complete and submit enrollment,
                    goal setting, team agreement and any additional forms that are required to
                    participate.
                </span>
            </p>

            <p style="margin-top:0in">
                <span style="font-size:13.5pt;font-family:"Arial","sans-serif";
color:black">
                    *Compete as members of the SSRA team. SSRA athletes must be
                    registered for races as members of the team, designated as such on start
                    lists/results, and participate as members of the team fully during team
                    meetings, inspection, warm-up, race runs, and awards. It is understood that
                    access to SSRA training programs and facilities implies a commitment to team
                    competitive goals and the individual contributions implied and made explicit
                    through participation.
                </span>
            </p>

            <p style="margin-bottom:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
color:black">&nbsp;</span>
            </p>

            <p style="margin-top:0in">
                <strong>
                    <span style="font-size:13.5pt;font-family:
"Arial","sans-serif";color:red">Training expectations</span>
                </strong>
            </p>

            <p style="margin-bottom:0in;margin-bottom:.0001pt">
                <em>
                    <span style="font-size:
13.5pt;font-family:"Arial","sans-serif";color:black">Members of SSRA will:</span>
                </em>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Be productive, responsible and
                    reliable members of the team. Athletes are expected to exhibit this commitment
                    at all times.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Demonstrate a positive attitude
                    and a desire to make the most of training opportunities.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Refrain from cursing or overt
                    and excessive displays of frustration.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Be punctual for team training
                    and events.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Notify coaches in advance if
                    unable to attend weekend training
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Arrive for training well-rested,
                    well-fed, and hydrated.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Be prepared for changes in
                    schedule
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Dress in warm layered clothing
                    appropriate for cold, winter conditions.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">*Always wear a helmet to training</span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Always have mouth protection
                    when slalom training
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Always wear goggles when
                    training gates of any kind.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Keep cell phones/ipod on mute
                    and use only for contact with parents as needed and in case of emergency.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Not use cell phones during
                    training.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">*Always carry their season pass.</span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Maintain their equipment and
                    make sure skis are always sharp and waxed.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Assist in gathering materials
                    for training, and with putting materials away after training.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Be assertive in course setting
                    and tear down. (**During night training only-if you are unable to arrive in
                    time to help set, be the first person to volunteer to tear down and carry gates
                    at the end of training).
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Slip and inspect every training
                    course prior to running it.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Use the restroom prior to
                    training in the morning, and after lunch, prior to training in the afternoon.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Ask permission to use the
                    bathroom, or leave the group, in general, during training.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Notify coach prior to leaving
                    for the day.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">*Attend video analysis sessions.</span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Clean up after themselves, and
                    others if necessary, in Mt. Spokane lodges
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Respect the general public.
                    Avoid skiing fast in slow zones. Avoid skiing excessively close to others. And,
                    avoid voicing frustration if interefered with; in, or out, of a training
                    course.
                </span>
            </p>

            <p style="margin-top:0in">
                <span style="font-size:13.5pt;font-family:"Arial","sans-serif";
color:black">
                    *Use superior judgement. If unsure, consider if your planned
                    action is &quot;the right thing to do.&quot;
                </span>
            </p>

            <p>
                <strong>
                    <span style="font-size:13.5pt;font-family:"Arial","sans-serif";
color:red">Race travel expectations:</span>
                </strong>
            </p>

            <p>
                <span style="font-size:13.5pt;font-family:"Arial","sans-serif";color:black">
                    *Athletes
                    will not expect to compete if training has been missed leading up to a
                    competition.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Athletes will notify the coach,
                    prior to the entry deadline, if unable to attend a competition
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Athletes will stay in team
                    arranged accommodations
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Athletes will attend all team
                    meetings and auxiliary functions.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Athletes are expected to have
                    skis race ready and tune skis for each race day. Travel wax should be applied
                    before departure. Racers should bring tuning equipment on race trips.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">*Athletes will be on time</span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Athletes will inspect courses
                    and warm up adequately before each start.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Athletes are expected to be
                    invested in the race experience. Avoid excessive lodge time. Watch better
                    competition or go free skiing when not preparing for a race run. Do your best
                    to check in with a coach after each run.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Athletes are expected to be a
                    contributing member of the team. Retrieve clothing for teammates. Share course
                    reports if asked by the coach. Cheer for and encourage your teammates.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Athletes will remain at the race
                    venue until the referee report (DSQ list) is posted, and you have communicated
                    with a coach that you are leaving.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Athletes will find out when the
                    team meeting will take place, if not previously specified, prior to leaving the
                    mountain.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Athletes are expected to adhere
                    to the entire SSRA Code of Conduct
                </span>
            </p>

            <p style="margin-top:0in">
                <span style="font-size:13.5pt;font-family:"Arial","sans-serif";
color:black">
                    *Athletes are expected to be gracious winners, and mature when
                    faced with setbacks and defeats.
                </span>
            </p>

            <p style="margin-bottom:0in;margin-bottom:.0001pt">
                <em>
                    <span style="font-size:
13.5pt;font-family:"Arial","sans-serif";color:black">&nbsp;</span>
                </em>
            </p>

            <p style="margin-bottom:0in;margin-bottom:.0001pt">
                <em>
                    <b>
                        <span style="font-size:13.5pt;font-family:"Arial","sans-serif";color:red;font-style:
normal">Rules specific to Alpine Team Racing</span>
                    </b>
                </em>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Alpine Team Members will
                    complete PNSA contact information forms, medical releases, and intent to
                    compete forms. If regional travel is expected, Western Region medical releases
                    must also be completed.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    * Alpine Team Members must
                    contact the Program Director at least two weeks in advance, if competition
                    plans change, as specified on the intent to compete form.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    * Alpine Team Members will be
                    entered in USSA events by coaches using a team entry.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    * Alpine Team Members must
                    electronically accept or reject invitations to represent PNSA in FIS and
                    championship races on the www.pnsa.org website.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    * Alpine Team Members will not
                    expect to compete, or to be entered in a race, if race accounts do not hold
                    sufficient funds. It is the responsibility of each athlete to know the status
                    of their account prior to an event. Remember that entry deadline precede a race
                    by a week or more. Therefore, check funds in race accounts 10 days-2 weeks
                    prior to planned race travel.
                </span>
            </p>

            <p style="margin-top:0in">
                <span style="font-size:13.5pt;font-family:"Arial","sans-serif";
color:black">
                    *Entry fees, coach per diem, overlay hi-flouro team wax and team
                    van use charges will be deducted from race accounts. Accounting details will
                    emailed to you.
                </span>
            </p>

            <p style="margin-bottom:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
color:black">&nbsp;</span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <strong>
                    <span style="font-size:
13.5pt;font-family:"Arial","sans-serif";color:red">Mt. Spokane rules</span>
                </strong>
            </p>

            <p style="margin-top:0in">
                <span style="font-size:13.5pt;font-family:"Arial","sans-serif";
color:black">
                    Mt. Spokane is SSRA's greatest supporter. Few mountains work as
                    cooperatively with a racing program as Mt. Spokane Ski &amp;Snowboard Park.
                    Without Mt. Spokane's support, SSRA would not exist. Respect the mountain.
                </span>
            </p>

            <p style="margin-bottom:0in;margin-bottom:.0001pt">
                <em>
                    <span style="font-size:
13.5pt;font-family:"Arial","sans-serif";color:black">Members of SSRA will:</span>
                </em>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">*Store skis in racks</span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Always carry your season pass
                    and present it, each ride, to the lift attendants in a courteous manner.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Show appreciation to mountain
                    personnel, ski patrol, lift attendants and ski school instructors.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Remember that because SSRA
                    enjoys such privileges, the general public must be shown exceptional respect.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Remember that as a ski racer, and
                    with many in team coats, you are highly visible.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">*Never cut lift lines</span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Not cut underneath ropes or ski
                    in closed areas.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Obey signs and directives of
                    mountain employees and patrol.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Always inspect a jump before
                    hitting it. When jumping, make sure that someone is spotting the landing.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Not use profane or derogatory
                    language.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">*Look uphill before starting</span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Stop only where visible from
                    above and on the side of trails.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Slow down in slow skiing zones,
                    in any crowded areas, and before entering lift line corrals.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Report accidents to patrol or to
                    the lift attendant at the top of any lift.
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Set skis in an &quot;X&quot;
                    above injured skiers, in a place where people can see the &quot;X&quot; and
                    avoid the injure skier
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Help people any chance that you
                    get. This can include retrieving the equipment of someone who has fallen,
                    giving directions, giving honest advice on trail difficulty, etc.
                </span>
            </p>

            <p style="margin-top:0in">
                <span style="font-size:13.5pt;font-family:"Arial","sans-serif";
color:black">
                    *Remember that you represent SSRA directly and that your actions,
                    or lack of action have an impact on our privileges for many years to come.
                </span>
            </p>

            <p style="margin-bottom:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
color:black">&nbsp;</span>
            </p>

            <p style="margin-top:0in">
                <strong>
                    <span style="font-size:13.5pt;font-family:
"Arial","sans-serif";color:red">Disciplinary action</span>
                </strong>
            </p>

            <p>
                <span style="font-size:13.5pt;font-family:"Arial","sans-serif";color:black">
                    In
                    the event that an athlete is unable to uphold the above criteria as outlined in
                    the SSRA Code of Conduct, disciplinary action may result. Expect action to be
                    taken. These are as follows:
                </span>
            </p>

            <p style="margin-bottom:0in;margin-bottom:.0001pt">
                <strong>
                    <span style="font-size:13.5pt;font-family:"Arial","sans-serif";color:black">Level 3</span>
                </strong>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Use of illegal drugs, alcohol or
                    tobacco
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">*Breaking the law</span>
            </p>

            <p style="margin-top:0in">
                <span style="font-size:13.5pt;font-family:"Arial","sans-serif";
color:black">*Physically hurting another person intentionally</span>
            </p>

            <p>
                <em>
                    <span style="font-size:13.5pt;font-family:"Arial","sans-serif";
color:black">Level 3 Disciplinary Action:</span>
                </em><span class="apple-converted-space">
                    <span style="font-size:13.5pt;font-family:"Arial","sans-serif";
color:black">&nbsp;</span>
                </span><span style="font-size:13.5pt;font-family:
"Arial","sans-serif";color:black">
                    Immediate suspension from the team for an
                    indefinite period. Additional offense will result in explusion from the team
                    for the year. In such a case, the right to refuse future business may be
                    exercised by SSRA.
                </span>
            </p>

            <p style="margin-bottom:0in;margin-bottom:.0001pt">
                <strong>
                    <span style="font-size:13.5pt;font-family:"Arial","sans-serif";color:black">Level 2</span>
                </strong>
            </p>

            <p style="margin-top:0in">
                <span style="font-size:13.5pt;font-family:"Arial","sans-serif";
color:black">
                    *Violation of curfew; unbeknowst wherabouts to coaches after
                    designated curfew time
                </span>
            </p>

            <p>
                <em>
                    <span style="font-size:13.5pt;font-family:"Arial","sans-serif";
color:black">Level 2 Disciplinary Action:</span>
                </em><span class="apple-converted-space">
                    <span style="font-size:13.5pt;font-family:"Arial","sans-serif";
color:black">&nbsp;</span>
                </span><span style="font-size:13.5pt;font-family:
"Arial","sans-serif";color:black">
                    7-14 day suspension from team. Additional
                    offense will result in Level 3 Disciplinary Action.
                </span>
            </p>

            <p style="margin-bottom:0in;margin-bottom:.0001pt">
                <strong>
                    <span style="font-size:13.5pt;font-family:"Arial","sans-serif";color:black">Level 1</span>
                </strong>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">
                    *Violation of SSRA Code of
                    Conduct
                </span>
            </p>

            <p style="margin:0in;margin-bottom:.0001pt">
                <span style="font-size:13.5pt;
font-family:"Arial","sans-serif";color:black">*Violation of Ski Area Rules</span>
            </p>

            <p style="margin-top:0in">
                <span style="font-size:13.5pt;font-family:"Arial","sans-serif";
color:black">
                    *Violation of the rules of ski racing and travel policies of FIS,
                    USSA, WR, PNSA or appropriately assocaited body of ski racing.
                </span>
            </p>

            <p>
                <em>
                    <span style="font-size:13.5pt;font-family:"Arial","sans-serif";
color:black">Level 1 Disciplinary Action:</span>
                </em><span class="apple-converted-space">
                    <i>
                        <span style="font-size:13.5pt;font-family:"Arial","sans-serif";
color:black">&nbsp;</span>
                    </i>
                </span><span style="font-size:13.5pt;font-family:
"Arial","sans-serif";color:black">
                    1-7 day suspension from team. Additional
                    offense will result in Level 2 Disciplinary Action
                </span>
            </p>

            <p class="style1" style="margin-bottom:0in;margin-bottom:.0001pt">
                <b>
                    <span style="font-size:13.5pt;font-family:"Arial","sans-serif";color:black">
                        Appeal
                        Process
                    </span>
                </b>
            </p>

            <p style="margin-top:0in">
                <span style="font-size:13.5pt;font-family:"Arial","sans-serif";
color:black">
                    Any disciplinary action imposed may be appealed to the SSRA Board
                    of Directors. The case will be reviewed and the Board will decide on
                    appropriate measures. The Board of Directors may, but is not limited to,
                    imposing the above penalties. Appeals should be submitted in writing.
                </span>
            </p>

            <p class="MsoNormal">&nbsp;</p>

        </div>




    </li>
</ul>
<a href="#" onclick="window.print(); return false;">Print</a>
