@{
    ViewBag.Title = "";  
}
<style>
    /* suppress link for printing */
    @@media only print {
        a {
            display: none;
        }
    }
</style>
<a href="#" onclick="window.print(); return false;">Print</a>
<style>
    <!--
     /* Font Definitions */
     font-face
        {font-family:"Cambria Math";
        panose-1:2 4 5 3 5 4 6 3 2 4;}
    font-face
        {font-family:Calibri;
        panose-1:2 15 5 2 2 2 4 3 2 4;}
     /* Style Definitions */
     p.MsoNormal, li.MsoNormal, div.MsoNormal
        {margin-top:0in;
        margin-right:0in;
        margin-bottom:10.0pt;
        margin-left:0in;
        line-height:115%;
        font-size:11.0pt;
        font-family:"Calibri","sans-serif";}
    .MsoPapDefault
        {margin-bottom:10.0pt;
        line-height:115%;}
    page WordSection1
        {size:8.5in 11.0in;
        margin:1.0in 1.0in 1.0in 1.0in;}
    div.WordSection1
        {page:WordSection1;}
    -->
</style>
<br />
<br />
<br />
<ul>
    <li>
        <p>--- Concussion Information Sheet ---</p>
        <br />

        <div class="WordSection1">

            <center><p class="MsoNormal">Concussion Information Sheet</p></center>
            <br />
            <p class="MsoNormal">
                Adapted from the CDC and the 3rd International Conference on
                Concussion in Sport
            </p>

            <p class="MsoNormal">Document created 6/15/2009 </p>

            <p class="MsoNormal">
                A concussion is a brain injury and all brain injuries are serious. They are caused by a 
                bump, blow, or jolt to the head, or by a blow to another part of the body with the force 
                transmitted to the head. They can range from mild to severe and can disrupt the way the
                brain normally works. Even though most concussions are mild, all concussions are 
                potentially serious and may result in complications including prolonged brain damage and 
                death if not recognized and managed properly. In other words, even a “ding” or a bump on 
                the head can be serious. You can’t see a  concussion and most sports concussions occur 
                without loss of consciousness. Signs and symptoms of concussion may show up right after 
                the injury or can take hours or days to fully appear. If your child reports any symptoms 
                of concussion, or if you notice the symptoms or signs of concussion yourself, seek 
                medical attention right away. </p>

            <p class="MsoNormal">Symptoms may include one or more of the following: </p>

            <p class="MsoNormal">• Headaches </p>

            <p class="MsoNormal">• “Pressure in head” </p>

            <p class="MsoNormal">• Nausea or vomiting </p>

            <p class="MsoNormal">• Neck pain </p>

            <p class="MsoNormal">• Balance problems or dizziness </p>

            <p class="MsoNormal">• Blurred, double, or fuzzy vision </p>

            <p class="MsoNormal">• Sensitivity to light or noise </p>

            <p class="MsoNormal">• Feeling sluggish or slowed down </p>

            <p class="MsoNormal">• Feeling foggy or groggy </p>

            <p class="MsoNormal">• Drowsiness </p>

            <p class="MsoNormal">• Change in sleep patterns </p>

            <p class="MsoNormal">• Amnesia </p>

            <p class="MsoNormal">• “Don’t feel right” </p>

            <p class="MsoNormal">• Fatigue or low energy </p>

            <p class="MsoNormal">• Sadness </p>

            <p class="MsoNormal">• Nervousness or anxiety </p>

            <p class="MsoNormal">• Irritability </p>

            <p class="MsoNormal">• More emotional </p>

            <p class="MsoNormal">• Confusion </p>

            <p class="MsoNormal">• Concentration or memory problems (forgetting game plays) </p>

            <p class="MsoNormal">• Repeating the same question/comment </p>

            <p class="MsoNormal">Signs observed by teammates, parents and coaches include: </p>

            <p class="MsoNormal">• Appears dazed </p>

            <p class="MsoNormal">• Vacant facial expression </p>

            <p class="MsoNormal">• Confused about assignment </p>

            <p class="MsoNormal">• Forgets plays </p>

            <p class="MsoNormal">• Is unsure of game, score, or opponent </p>

            <p class="MsoNormal">• Moves clumsily or displays incoordination </p>

            <p class="MsoNormal">• Answers questions slowly </p>

            <p class="MsoNormal">• Slurred speech </p>

            <p class="MsoNormal">• Shows behavior or personality changes </p>

            <p class="MsoNormal">• Can’t recall events prior to hit </p>

            <p class="MsoNormal">• Can’t recall events after hit </p>

            <p class="MsoNormal">• Seizures or convulsions </p>

            <p class="MsoNormal">• Any change in typical behavior or personality </p>

            <p class="MsoNormal">• Loses consciousness Concussion Information Sheet</p>

            <p class="MsoNormal">
                Adapted from the CDC and the 3rd International Conference on Concussion in Sport
            Document created 6/15/2009 </p>

            <p class="MsoNormal">
                What can happen if my child keeps on playing with a concussion or returns to soon?
                Athletes with the signs and symptoms of concussion should be removed from play
                immediately. Continuing to play with the signs and symptoms of a concussion leaves
                the young athlete especially vulnerable to greater injury.
                There is an increased risk of
                significant damage from a concussion for a period of time
                after that concussion occurs,
                particularly if the athlete suffers another concussion
                before completely recovering from
                the first one. This can lead to prolonged recovery, or even
                to severe brain swelling
                (second impact syndrome) with devastating and even fatal
                consequences. It is well
                known that adolescent or teenage athlete will often under
                report symptoms of injuries.
                And concussions are no different. As a result, education of
                administrators, coaches,
                parents and students is the key for student-athlete’s
                safety.
            </p>

            <p class="MsoNormal">If you think your child has suffered a concussion</p>

            <p class="MsoNormal">
                Any athlete even suspected of suffering a concussion should
                be removed from the
                game or practice immediately. No athlete may return to
                activity after an apparent head
                injury or concussion, regardless of how mild it seems or how
                quickly symptoms clear,
                without medical clearance. Close observation of the athlete
                should continue for several
                hours. The new “Zackery Lystedt Law” in Washington now
                requires the consistent and
                uniform implementation of long and well-established return
                to play concussion guidelines that have been recommended for several years:
                “a youth athlete who is suspected of sustaining a concussion
                or head injury in a
                practice or game shall be removed from competition at that
                time” and 
                “…may not return to play until the athlete is evaluated by a
                licensed heath care
                provider trained in the evaluation and management of
                concussion and received
                written clearance to return to play from that health care
                provider”.
                You should also inform your child’s coach if you think that
                your child may have a
                concussion Remember its better to miss one game than miss
                the whole season. And when in doubt, the athlete sits out
                For current and up-to-date information on concussions you
                can go to:
            </p>

            <p class="MsoNormal">http://www.cdc.gov/ConcussionInYouthSports/</p>

        </div>



    </li>
</ul>
<a href="#" onclick="window.print(); return false;">Print</a>
