@{
    ViewBag.Title = "";  
}
<style>
    /* suppress link for printing */
    @@media only print {
        a {
            display: none;
        }
    }
</style>
<a href="#" onclick="window.print(); return false;">Print</a>
<style>
    <!--
     /* Font Definitions */
     font-face
        {font-family:"Cambria Math";
        panose-1:2 4 5 3 5 4 6 3 2 4;}
    font-face
        {font-family:"Eras Demi ITC";
        panose-1:2 11 8 5 3 5 4 2 8 4;}
    font-face
        {font-family:Verdana;
        panose-1:2 11 6 4 3 5 4 4 2 4;}
     /* Style Definitions */
     p.MsoNormal, li.MsoNormal, div.MsoNormal
        {margin:0in;
        margin-bottom:.0001pt;
        font-size:12.0pt;
        font-family:"Times New Roman","serif";
        width: 90%;
     }
    a:link, span.MsoHyperlink
        {font-family:"Times New Roman","serif";
        color:blue;
        text-decoration:underline;}
    a:visited, span.MsoHyperlinkFollowed
        {font-family:"Times New Roman","serif";
        color:purple;
        text-decoration:underline;}
    span.blockemailwithname2
        {mso-style-name:blockemailwithname2;
        font-family:"Times New Roman","serif";
        color:#2A2A2A;}
    page WordSection1
        {size:8.5in 11.0in;
        margin:1.0in 1.0in 1.0in 1.0in;}
    div.WordSection1
        {page:WordSection1;}
    -->
</style>
<br />
<br />
<br />
<ul>
    <li>
        <p>--- Volunteer Form 2013-2014 ---</p>
        <br />
        <div class="WordSection1">

            <table class="MsoTableGrid" border="0" cellspacing="0" cellpadding="0"
                   style="margin-left:-.5in;border-collapse:collapse;border:none">
                <tr style="height:45.0pt">
                    <td width="211" valign="top" style="width:2.2in;padding:0in 5.75pt 0in 5.75pt;
  height:45.0pt">
                        <p class="MsoNormal" align="center" style="margin-right:-.5in;text-align:center">
                            <span style="font-family:"Arial","sans-serif"">&nbsp;</span>
                        </p>
                    </td>
                    <td width="469" valign="top" style="width:352.0pt;padding:0in 5.75pt 0in 5.75pt;
  height:45.0pt">
                        <p class="MsoNormal" align="center" style="margin-right:-.5in;text-align:center">
                            <b>
                                <i>
                                    <span style="font-size:18.0pt;font-family:"Eras Demi ITC","sans-serif"">
                                        SPOKANE SKI
                                        RACING ASSOCIATION
                                    </span>
                                </i>
                            </b>
                        </p>
                        <p class="MsoNormal" style="margin-right:-.5in">
                            <b>
                                <i>
                                    <span style="font-family:
  "Arial","sans-serif"">&nbsp;</span>
                                </i>
                            </b>
                        </p>
                        <p class="MsoNormal" align="center" style="margin-right:-.5in;text-align:center">
                            <b>
                                <span style="font-family:"Arial","sans-serif";color:blue">
                                    2013-2014 FAMILY
                                    VOLUNTEERING  &amp; SUPPORT FORM
                                </span>
                            </b>
                        </p>
                        <p class="MsoNormal" align="center" style="margin-right:-.5in;text-align:center">
                            <span style="font-family:"Arial","sans-serif"">&nbsp;</span>
                        </p>
                    </td>
                </tr>
            </table>

            <p class="MsoNormal" style="margin-right:-.5in">
                <b>
                    <span style="font-size:11.0pt;
font-family:"Arial","sans-serif";color:red">&nbsp;</span>
                </b>
            </p>

            <p class="MsoNormal" style="margin-right:-.5in">
                <b>
                    <span style="font-size:11.0pt;
font-family:"Arial","sans-serif";color:red">Participation in Fundraisers:</span>
                </b><span style="font-size:11.0pt;font-family:"Arial","sans-serif";color:black">
                    Successful SSRA fund raisers take significant membership support!
                </span>
            </p>

            <p class="MsoNormal" style="margin-right:-.5in;text-indent:.5in">
                <b>
                    <span style="font-size:11.0pt;font-family:"Arial","sans-serif";color:black">
                        Golf
                        Tournament (
                    </span>
                </b><b>
                    <span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                        Sunday,
                        October 6, 2013):
                    </span>
                </b><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                    SSRA
                    members are asked to play, and form a foursome if possible. If a business that
                    you know would like to sponsor a hole, let us know!
                </span>
            </p>

            <p class="MsoNormal" style="margin-right:-.5in;text-indent:.5in">
                <b>
                    <span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                        SSRA Oktoberfest and
                        Chili Cook-Off (Sunday, October 20, 2013
                    </span>
                </b><span style="font-size:11.0pt;
font-family:"Arial","sans-serif"">
                    ): One day pledge-athon to alleviate some of
                    the costs and manpower needs of the March auction.
                </span>
            </p>

            <p class="MsoNormal" style="margin-right:-.5in;text-indent:.5in">
                <b>
                    <span style="font-size:11.0pt;font-family:"Arial","sans-serif";color:black">Ski-</span>
                </b><b>
                    <span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                        A-Thon (Saturday,
                        January 4, 2014):
                    </span>
                </b><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                    Each athlete is asked to raise $100 in pledges for this fun team fund raising
                    tradition.
                </span>
            </p>

            <p class="MsoNormal" style="margin-right:-.5in;text-indent:.5in">
                <b>
                    <span style="font-size:11.0pt;font-family:"Arial","sans-serif";color:black">Auction (</span>
                </b><b>
                    <span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                        Saturday, March 8<sup>th</sup>,
                        2014):
                    </span>
                </b><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                    Each
                    family is asked to donate 1-2 auction items and a bottle of wine (for an
                    instant wine cellar). Each family is required to purchase 2 tickets to insure
                    the success of this critical team fund raising event. Tickets are $75 each and
                    can be paid when enrolling in SSRA or can be billed to you, whichever is
                    easiest. At registration night, tickets will be issued to member. Members can
                    use the tickets or sell them to others.
                </span>
            </p>

            <p class="MsoNormal" style="margin-right:-.5in">
                <span style="font-size:11.0pt;
font-family:"Arial","sans-serif";color:black">
                    <b>
                        Corporate
                        Sponsorship:
                    </b> Please do business with our corporate sponsorship partners!! And,
                    pass on the corporate sponsorship packet to potential new sponsors. Additional
                    copies available-contact Chuck. Corporate Sponsorship decreases the fundraising
                    burden on other SSRA events.
                </span>
            </p>

            <p class="MsoNormal" style="margin-right:-.5in">
                <b>
                    <span style="font-size:11.0pt;
font-family:"Arial","sans-serif";color:red">&nbsp;</span>
                </b>
            </p>

            <p class="MsoNormal" style="margin-right:-.5in">
                <b>
                    <span style="font-size:11.0pt;
font-family:"Arial","sans-serif";color:red">Volunteering</span>
                </b>
            </p>

            <p class="MsoNormal" style="margin-right:-.5in;text-indent:.5in">
                <span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                    To maintain the
                    inclusive and competitive nature of SSRA, significant volunteer efforts are
                    required each year, from each member family of SSRA. In fact, SSRA has a proud
                    history of volunteerism that has set our organization above others.
                </span>
            </p>

            <p class="MsoNormal" style="margin-right:-.5in;text-indent:.5in">
                <span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                    SSRA is a 501-c(3)
                    not-for-profit organization. Annually, SSRA pays 60% of its expenses through
                    athlete tuition and 40% through dollars raised in fund raisers and race events.
                    It is easy to see how much tuition is subsidized by volunteer-driven events!
                </span>
            </p>

            <p class="MsoNormal" style="margin-right:-.5in;text-indent:.5in">
                <span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                    Please indicate which
                    days you can volunteer. While many families volunteer in each fundraiser and
                    for each race, not every family can do so. However, each family is asked to
                    volunteer for at least five volunteer-days; with three being race days. If you
                    are a new SSRA family this year, you are asked to volunteer for three days.
                </span>
            </p>

            <p class="MsoNormal" style="margin-right:-.5in;text-indent:.5in">
                <b>
                    <i>
                        <span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                            How are the days
                            counted?
                        </span>
                    </i>
                </b><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                    Any adult who contributes a day of volunteering counts as a volunteer-day. So,
                    having a mom and dad both work on one race day counts as two volunteer-days!
                    Also, many folks ask friends to help out. These count towards your days as
                    well. <b><i>What else should I know?</i></b> On race days, each on-hill
                    volunteer is given a lunch, a lift ticket, and a lift ticket voucher for
                    another day! <b><i>What if I simply do not have time?</i></b><i> </i>You can
                    exercise the volunteer buy-out option ($500 for returning members). <b>
                        <i>
                            Do I
                            really need to fill this out?
                        </i>
                    </b><i> </i>SSRA families have the best
                    volunteering reputation in the Northwest. This form is an outline of
                    expectations (we know members will follow through without a formal agreement!).
                    More importantly, this form helps the organizers of events know, in advance,
                    which events will need more outside help!
                </span>
            </p>

            <p class="MsoNormal" style="margin-right:-.5in;text-indent:.5in">
                <span style="font-size:10.0pt;font-family:"Arial","sans-serif"">&nbsp;</span>
            </p>


            <p class="MsoNormal">
                <b>
                    <span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                        Fundraising
                        Committee
                    </span>
                </b>
            </p>

            <p class="MsoNormal" style="text-indent:.5in">
                <span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                    The SSRA fundraising committee needs you! The
                    committee has two parts; Fundraising Events and Corporate Sponsorship. The
                    following individuals coordinate the efforts of each and report to the SSRA
                    BOD.
                </span>
            </p>

            <p class="MsoNormal"><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">&nbsp;</span></p>

            <table class="MsoTableGrid" border="1" cellspacing="0" cellpadding="0" width="702"
                   style="width:526.3pt;margin-left:-34.9pt;border-collapse:collapse;border:none">
                <tr style="height:13.1pt">
                    <td width="115" valign="top" style="width:1.2in;border:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.1pt">
                        <p class="MsoNormal">
                            <b>
                                <span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                                    Fundraising
                                    Events
                                </span>
                            </b>
                        </p>
                    </td>
                    <td width="159" valign="top" style="width:119.25pt;border:solid windowtext 1.0pt; border-left:none;padding:0in 5.4pt 0in 5.4pt;height:13.1pt">
                        <p class="MsoNormal"><b><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">Contact</span></b></p>
                    </td>
                    <td width="84" valign="top" style="width:63.0pt;border:solid windowtext 1.0pt; border-left:none;padding:0in 5.4pt 0in 5.4pt;height:13.1pt">
                        <p class="MsoNormal">
                            <b>
                                <span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                                    Home
                                    Phone
                                </span>
                            </b>
                        </p>
                    </td>
                    <td width="108" valign="top" style="width:81.0pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt;height:13.1pt">
                        <p class="MsoNormal">
                            <b>
                                <span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                                    Cell
                                </span>
                            </b>
                        </p>
                    </td>
                    <td width="236" valign="top" style="width:176.65pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt;height:13.1pt">
                        <p class="MsoNormal"><b><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">Email</span></b></p>
                    </td>
                </tr>
                <tr style="height:30.1pt">
                    <td width="115" valign="top" style="width:1.2in;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt;height:30.1pt">
                        <p class="MsoNormal">
                            <span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                                Golf
                                Tournament
                            </span>
                        </p>
                    </td>
                    <td width="159" valign="top" style="width:119.25pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:30.1pt">
                        <p class="MsoNormal">
                            <span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                                Sonny
                                Varadan
                            </span>
                        </p>
                        <p class="MsoNormal">
                            <span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                                Chuck
                                Holcomb
                            </span>
                        </p>
                    </td>
                    <td width="84" valign="top" style="width:63.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:30.1pt">
                        <p class="MsoNormal"><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">891-1711</span></p>
                        <p class="MsoNormal"><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">&nbsp;</span></p>
                    </td>
                    <td width="108" valign="top" style="width:81.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:30.1pt">
                        <p class="MsoNormal"><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">939-1611</span></p>
                        <p class="MsoNormal"><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">979-7499</span></p>
                    </td>
                    <td width="236" valign="top" style="width:176.65pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:30.1pt">
                        <p class="MsoNormal"><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">svaradan@hotmail.com</span></p>
                        <p class="MsoNormal"><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">chholcomb@hotmail.com</span></p>
                    </td>
                </tr>
                <tr style="height:13.1pt">
                    <td width="115" valign="top" style="width:1.2in;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt;height:13.1pt">
                        <p class="MsoNormal"><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">Ski-A-Thon</span></p>
                    </td>
                    <td width="159" valign="top" style="width:119.25pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:13.1pt">
                        <p class="MsoNormal">
                            <span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                                Chuck
                                Holcomb
                            </span>
                        </p>
                    </td>
                    <td width="84" valign="top" style="width:63.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:13.1pt">
                        <p class="MsoNormal"><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">&nbsp;</span></p>
                    </td>
                    <td width="108" valign="top" style="width:81.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:13.1pt">
                        <p class="MsoNormal"><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">979-7499</span></p>
                    </td>
                    <td width="236" valign="top" style="width:176.65pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:13.1pt">
                        <p class="MsoNormal">
                            <span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                                <a href="mailto:chholcomb@hotmail.com">chholcomb@hotmail.com</a>
                            </span>
                        </p>
                    </td>
                </tr>
                <tr style="height:13.1pt">
                    <td width="115" valign="top" style="width:1.2in;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt;height:13.1pt">
                        <p class="MsoNormal"><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">Auction</span></p>
                    </td>
                    <td width="159" valign="top" style="width:119.25pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:13.1pt">
                        <p class="MsoNormal">
                            <span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                                Jeff
                                Mamola
                            </span>
                        </p>
                    </td>
                    <td width="84" valign="top" style="width:63.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:13.1pt">
                        <p class="MsoNormal"><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">&nbsp;</span></p>
                    </td>
                    <td width="108" valign="top" style="width:81.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:13.1pt">
                        <p class="MsoNormal"><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">208-771-0078</span></p>
                    </td>
                    <td width="236" valign="top" style="width:176.65pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:13.1pt">
                        <p class="MsoNormal">
                            <span class="blockemailwithname2">
                                <span style="font-size:
  11.0pt;font-family:"Arial","sans-serif"">malamo@juno.com</span>
                            </span>
                        </p>
                    </td>
                </tr>
                <tr style="height:52.0pt">
                    <td width="115" valign="top" style="width:1.2in;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt;height:52.0pt">
                        <p class="MsoNormal">
                            <b>
                                <span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                                    Corporate
                                    Sponsorship
                                </span>
                            </b>
                        </p>
                    </td>
                    <td width="159" valign="top" style="width:119.25pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:52.0pt">
                        <p class="MsoNormal">
                            <span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                                Heather
                                Bettesworth
                            </span>
                        </p>
                        <p class="MsoNormal">
                            <span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                                Carl
                                Guenzel
                            </span>
                        </p>
                        <p class="MsoNormal">
                            <span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                                Bob
                                Simpson
                            </span>
                        </p>
                        <p class="MsoNormal">
                            <span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                                Jeff
                                McClellan
                            </span>
                        </p>
                        <p class="MsoNormal">
                            <span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                                Chuck
                                Holcomb
                            </span>
                        </p>
                    </td>
                    <td width="84" valign="top" style="width:63.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:52.0pt">
                        <p class="MsoNormal"><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">&nbsp;</span></p>
                        <p class="MsoNormal"><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">775-7543</span></p>
                        <p class="MsoNormal"><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">999-3568</span></p>
                        <p class="MsoNormal"><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">&nbsp;</span></p>
                        <p class="MsoNormal"><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">&nbsp;</span></p>
                    </td>
                    <td width="108" valign="top" style="width:81.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:52.0pt">
                        <p class="MsoNormal"><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">710-8940</span></p>
                        <p class="MsoNormal"><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">994-4875</span></p>
                        <p class="MsoNormal"><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">999-3568</span></p>
                        <p class="MsoNormal"><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">481-1071</span></p>
                        <p class="MsoNormal"><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">979-7499</span></p>
                    </td>
                    <td width="236" valign="top" style="width:176.65pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:52.0pt">
                        <p class="MsoNormal">
                            <span style="font-size:11.0pt;font-family:"Arial","sans-serif";
  color:#1F497D"><a href="mailto:heatherhemch@hotmail.com">heatherhemch@hotmail.com</a></span>
                        </p>
                        <p class="MsoNormal">
                            <span style="font-size:11.0pt;font-family:"Arial","sans-serif";
  color:#1F497D"><a href="mailto:carlg@khco.com" title="mailto:carlg@khco.com">carlg@khco.com</a></span>
                        </p>
                        <p class="MsoNormal">
                            <u>
                                <span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                                    <a href="mailto:robertdavidsimpson@gmail.com"><span style="color:windowtext">robertdavidsimpson@gmail.com</span></a>
                                </span>
                            </u>
                        </p>
                        <p class="MsoNormal"><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">mcclellanjscc@msn.com</span></p>
                        <p class="MsoNormal"><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">chholcomb@hotmail.com</span></p>
                    </td>
                </tr>
            </table>

            <p class="MsoNormal"><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">&nbsp;</span></p>

            <p class="MsoNormal" style="text-indent:.5in">
                <span style="font-size:11.0pt;
font-family:"Arial","sans-serif"">
                    Subcommittees for each event and for
                    corporate sponsorship need your help. Sharing contacts and donating time are
                    the primary and most effective ways of contributing. Please contact appropriate
                    chairpersons to volunteer for specific events and efforts.
                </span>
            </p>

            <p class="MsoNormal" style="text-indent:.5in">
                <b>
                    <span style="font-size:11.0pt;
font-family:"Arial","sans-serif"">Specific Event Roles and Responsibilities</span>
                </b>
            </p>

            <p class="MsoNormal">
                <u>
                    <span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                        Golf
                        Tournament:
                    </span>
                </u><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                    We need help securing hole sponsors and enlisting golfers/teams!
                </span>
            </p>

            <p class="MsoNormal">
                <u><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">Ski-A-Thon:</span></u><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                    Prizes procurement,
                    registration/bookkeeping
                </span>
            </p>

            <p class="MsoNormal">
                <u><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">Auction:</span></u><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                    Procurement,
                    procurement collection, Data entry/computer, program creation/sponsors, event
                    set-up, membership outreach, registration
                </span>
            </p>

            <p class="MsoNormal">
                <u>
                    <span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                        Corporate
                        Sponsorship:
                    </span>
                </u><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                    Company outreach, membership outreach, promotional tool development, community
                    visibility
                </span>
            </p>

            <p class="MsoNormal"><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">&nbsp;</span></p>

            <p class="MsoNormal">
                <b>
                    <span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                        Race
                        Committee
                    </span>
                </b>
            </p>

            <p class="MsoNormal" style="text-indent:.5in">
                <span style="font-size:11.0pt;
font-family:"Arial","sans-serif"">
                    The SSRA race committee is experienced and
                    continuously looking to educate newcomers! <b>
                        <u>
                            The fall officials clinic
                            takes place on Sunday, October 13th
                        </u>
                    </b>. This is a great way to get started
                    and learn about working a race. And, SSRA in-house training is a primary way
                    that expertise is passed on in a variety of roles. In other words, you will be
                    trained!
                </span>
            </p>

            <p class="MsoNormal" align="center" style="text-align:center;text-indent:.5in">
                <b>
                    <span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                        In total, it takes at
                        least 75 volunteers for each race day!
                    </span>
                </b>
            </p>

            <p class="MsoNormal">
                <u>
                    <span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                        Duties
                        include
                    </span>
                </u><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">:</span>
            </p>

            <p class="MsoNormal">
                <span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                    Race
                    venue set-up                 Timing/Calculations    Course Maintenance
                </span>
            </p>

            <p class="MsoNormal">
                <span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                    Race
                    administration                Hospitality                   Announcers                 Gatekeeping  
                </span>
            </p>

            <p class="MsoNormal">
                <span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                    Volunteer
                    Coordinators           Wiring                          Start/Finish crews       Scoreboard
                </span>
            </p>

            <p class="MsoNormal"><span style="font-size:11.0pt;font-family:"Arial","sans-serif"">&nbsp;</span></p>

            <p class="MsoNormal" align="center" style="text-align:center">
                <b>
                    <span style="font-size:11.0pt;font-family:"Arial","sans-serif"">
                        Get involved. It’s
                        fun. It’s rewarding. It’s for the kids!
                    </span>
                </b>
            </p>

        </div>
    </li>
</ul>
<style>
    /* suppress link for printing */
    @@media only print {
        a {
            display: none;
        }
    }
</style>
<a href="#" onclick="window.print(); return false;">Print</a>