@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
@*<table>
        <tr>
            <td>
                <div class="row">
                    <div class="span8">
                        <h1>SSRA</h1>
                        <p>Register, enroll in a program, and volunteer for events in four steps.</p>
                    </div>
                </div>
            </td>
            <td>
                <img src="Content/bkgrndimage3.png" id="wrapper4" alt="">
            </td>
        </tr>
    </table>*@
<div class="row">
    <div class="hero-unit">
        <h1>SSRA</h1>
        <p>Register, enroll in a program, and volunteer for events in a few easy steps</p>
    </div>
</div>
<div class="row">
    <legend>First Time</legend>
    <div class="span4">
        <h3>1) Log On</h3>
        <p>From Log on select register link. This requires a valid email address and password you can remember. All future correspondance is based on the email address provided.</p>
        <p><a class="btn" href="/Account/Logon">Go here &raquo;</a></p>
    </div>
    <div class="span4">
        <h3>2) Program Offerings</h3>
        <p>If you are not already familiar with SSRA Programs - this page provides details.</p>
        <p><a class="btn" href="/Program">Go here &raquo;</a></p>
    </div>
    <div class="span4">
        <h3>3) Review Forms</h3>
        <p>Please read and become familiar with the forms provided. You will be asked to accept terms and conditions in order to complete the enrollment process.</p>
        <p><a class="btn" href="/Home/Forms">Go here &raquo;</a></p>
    </div>
</div>
<br />
<div class="row">
    <legend></legend>
    <div class="span4">
        <h3>4) Update an Athlete or Register a new Profile</h3>
        <p>Define a membership profile for each participant. This information is required for enrollment. If already previously registerred, please review the information and make any necassary updates.</p>
        <p><a class="btn" href="/Athlete">Go here &raquo;</a></p>
    </div>
    <div class="span4">
        <h3>5) Enrollment Process</h3>
        <p>Select a program for each athlete profile. After submitting a confirmation page is presented. Enrollment is not yet complete. To complete enrollment send a signed and dated copy of your confirmation page to the SSRA Registrar.  Check contacts page for mailing address.</p>
        <p><a class="btn" href="/Enrollment">Go here &raquo;</a></p>
    </div>
    <div class="span4">
        <h3>6) Payment Options</h3>
        <p>Payment Options include check or online Credit Card Payment through PayPal. Check Payment must be included with the enrollment form mailed to the SSRA Registrar. Credit Card Payment can be made here.</p>
        <p><a class="btn" href="http://gossra.org/index.php?option=com_content&view=article&id=24&Itemid=32" target=" _blank">Go here &raquo;</a></p>
    </div>
</div>
<div class="row">
    <legend>Your Commitment</legend>
    <div class="span6">
        <h3>Event Volunteer</h3>
        <p>You play a significant role in the success of this program. Participation or pledges are vital for the success of each event.</p>
    </div>
    <div class="span6">
        <br />
        <br />
        <br />
        <p><a class="btn" href="/VolunteerCommitments">Go here &raquo;</a></p>
    </div>
</div>
