<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<title>MEDICAL  RELEASE &amp; INFORMATION</title>
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0in;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
@page WordSection1
	{size:8.5in 11.0in;
	margin:1.0in 1.25in 1.0in 1.25in;}
div.WordSection1
	{page:WordSection1;}
-->
</style>

</head>

<body lang=EN-US>

<div class=WordSection1>

<p class=MsoNormal align=center style='margin-right:-.5in;text-align:center'><b><u><span
style='font-size:14.0pt;font-family:"Arial","sans-serif"'>MEDICAL  RELEASE
&amp; INFORMATION</span></u></b></p>

<p class=MsoNormal align=center style='margin-right:-.5in;text-align:center'><b><u><span
style='font-family:"Arial","sans-serif"'><span style='text-decoration:none'>&nbsp;</span></span></u></b></p>

<p class=MsoNormal style='margin-right:-.5in'><span style='font-family:"Arial","sans-serif"'>I,
the parent/guardian, give the directors and coaches of the Spokane Ski Racing
Association permission to obtain medical aid (competitor) in case of injury. I
understand that every effort will be made to contact me in case of injury/ if
medical attention becomes necessary. </span></p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

</div>

</body>

</html>
